USE [QuanLyKaraoke]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 18/10/2020 10:09:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 18/10/2020 10:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[S_ID] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Phone] [int] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[PassWord] [nvarchar](max) NULL,
	[Role] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Accounts] PRIMARY KEY CLUSTERED 
(
	[S_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 18/10/2020 10:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[PayID] [nvarchar](128) NOT NULL,
	[Name_Cus] [nvarchar](max) NULL,
	[Phone_Cus] [int] NOT NULL,
	[Num_Cus] [int] NOT NULL,
	[P_Status] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[Duration] [int] NOT NULL,
	[Total] [int] NOT NULL,
	[Order_Order_ID] [nvarchar](128) NULL,
	[Room_RoomID] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Bookings] PRIMARY KEY CLUSTERED 
(
	[PayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 18/10/2020 10:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Food_ID] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Price] [int] NOT NULL,
	[Stock] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Menus] PRIMARY KEY CLUSTERED 
(
	[Food_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 18/10/2020 10:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[OD_ID] [nvarchar](128) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Menu_Food_ID] [nvarchar](128) NULL,
	[Order_Order_ID] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Order_Detail] PRIMARY KEY CLUSTERED 
(
	[OD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 18/10/2020 10:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Order_ID] [nvarchar](128) NOT NULL,
	[O_Quantity] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 18/10/2020 10:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [nvarchar](128) NOT NULL,
	[RoomType] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[R_Price] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Rooms] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Accounts] ([S_ID], [Name], [Phone], [UserName], [PassWord], [Role]) VALUES (N'S001', N'Cường', 767113948, N'Cuong', N'123456', N'Staff')
INSERT [dbo].[Accounts] ([S_ID], [Name], [Phone], [UserName], [PassWord], [Role]) VALUES (N'S002', N'Tuấn', 123456789, N'Tuan', N'123456', N'Admin')
INSERT [dbo].[Accounts] ([S_ID], [Name], [Phone], [UserName], [PassWord], [Role]) VALUES (N'S003', N'Thắng', 987654321, N'Thang', N'123456', N'Cashier')
GO
INSERT [dbo].[Bookings] ([PayID], [Name_Cus], [Phone_Cus], [Num_Cus], [P_Status], [DateTime], [Duration], [Total], [Order_Order_ID], [Room_RoomID]) VALUES (N'P001', N'Cường', 767113948, 20, 1, CAST(N'2020-10-18T09:00:00.000' AS DateTime), 0, 0, NULL, N'S001')
INSERT [dbo].[Bookings] ([PayID], [Name_Cus], [Phone_Cus], [Num_Cus], [P_Status], [DateTime], [Duration], [Total], [Order_Order_ID], [Room_RoomID]) VALUES (N'P002', N'Tuấn', 123456789, 25, 1, CAST(N'2020-10-18T22:00:00.000' AS DateTime), 0, 0, NULL, N'S002')
INSERT [dbo].[Bookings] ([PayID], [Name_Cus], [Phone_Cus], [Num_Cus], [P_Status], [DateTime], [Duration], [Total], [Order_Order_ID], [Room_RoomID]) VALUES (N'P003', N'Công', 987654321, 10, 3, CAST(N'2020-10-18T08:00:00.000' AS DateTime), 0, 0, NULL, N'S003')
GO
INSERT [dbo].[Menus] ([Food_ID], [Name], [Price], [Stock]) VALUES (N'F001', N'Heniken', 25000, 100)
INSERT [dbo].[Menus] ([Food_ID], [Name], [Price], [Stock]) VALUES (N'F002', N'Snack', 10000, 100)
INSERT [dbo].[Menus] ([Food_ID], [Name], [Price], [Stock]) VALUES (N'F003', N'Fruit Compo 1', 150000, 100)
GO
INSERT [dbo].[Order_Detail] ([OD_ID], [Quantity], [Menu_Food_ID], [Order_Order_ID]) VALUES (N'OD001', 5, N'F001', N'O001')
INSERT [dbo].[Order_Detail] ([OD_ID], [Quantity], [Menu_Food_ID], [Order_Order_ID]) VALUES (N'OD002', 5, N'F002', N'O001')
INSERT [dbo].[Order_Detail] ([OD_ID], [Quantity], [Menu_Food_ID], [Order_Order_ID]) VALUES (N'OD003', 1, N'F003', N'O001')
GO
INSERT [dbo].[Orders] ([Order_ID], [O_Quantity]) VALUES (N'O001', 3)
INSERT [dbo].[Orders] ([Order_ID], [O_Quantity]) VALUES (N'O004', 1)
GO
INSERT [dbo].[Rooms] ([RoomID], [RoomType], [Status], [R_Price]) VALUES (N'L001', N'Luxury', 1, 250000)
INSERT [dbo].[Rooms] ([RoomID], [RoomType], [Status], [R_Price]) VALUES (N'L002', N'Luxury', 1, 250000)
INSERT [dbo].[Rooms] ([RoomID], [RoomType], [Status], [R_Price]) VALUES (N'L003', N'Luxury', 1, 250000)
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [R_Price]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bookings_dbo.Orders_Order_Order_ID] FOREIGN KEY([Order_Order_ID])
REFERENCES [dbo].[Orders] ([Order_ID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_dbo.Bookings_dbo.Orders_Order_Order_ID]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bookings_dbo.Rooms_Room_RoomID] FOREIGN KEY([Room_RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_dbo.Bookings_dbo.Rooms_Room_RoomID]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Order_Detail_dbo.Menus_Menu_Food_ID] FOREIGN KEY([Menu_Food_ID])
REFERENCES [dbo].[Menus] ([Food_ID])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK_dbo.Order_Detail_dbo.Menus_Menu_Food_ID]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Order_Detail_dbo.Orders_Order_Order_ID] FOREIGN KEY([Order_Order_ID])
REFERENCES [dbo].[Orders] ([Order_ID])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK_dbo.Order_Detail_dbo.Orders_Order_Order_ID]
GO
