@model IEnumerable<QuanLyKaraoke.Models.Room>

@*@model QuanLyKaraoke.Models.Viewmodel*@
@{
    ViewBag.Title = "Room_Management_page";
}

<h1>Manage Rooms</h1>

@*<div class="pull-right">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add New
    </button>
</div>*@

<a href="/Room/Add_new_room" class="btn btn-info">Add new</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Room ID</th>
            <th scope="col">Room Type</th>
            <th scope="col">Status</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach( var Rooms in Model )
        {
        <tr>
            <th scope="row">@Rooms.RoomID</th>
            <td>@Rooms.RoomType</td>

            @if (Rooms.Status == 1)
            {
                <td style="color:green"> Availabe</td>
            }

            @if (Rooms.Status == 2)
            {
                <td style="color:greenyellow"> Booking</td>
            }

            @if (Rooms.Status == 3)
            {
                <td style="color:red"> Using</td>
            }
            <td>@(Convert.ToDecimal(Rooms.R_Price).ToString("#,##0")) VNĐ</td>
            <td>
                <a href="#" id="btnDelr" class="btn btn-outline-danger btnDelr" data="@Rooms.RoomID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
    <script>
        $(document).ready(function () {
            $('.btnDelr').click(function (e) {
                //bỏ tác dụng bấm mặc định
                e.preventDefault();
                var atag = $(this);
                var idBooking = $(this).attr('data');//lấy giá trị thuộc tính data(mã máy)
                if (!confirm("Do you want to remove this room ?"))
                    return;
                $.ajax(
                    {
                        url: '/Room/Delete/' + idBooking + '/',
                        method: "post",
                        success: function (data) {
                            if (data.isvalid) {
                                atag.closest('tr').remove();//Lấy thẻ tr gần với thẻ a nhất và xóa
                                return;
                            }
                            alert(data.msg);
                        },
                        failed: function () {

                        }
                    }
                );
            });
        });
    </script>



