@model IEnumerable<QuanLyKaraoke.Models.Room>
@{
    ViewBag.Title = "Room_Management_page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Room Management Page</title>
</head>
<body>

    <h1>Manage Rooms</h1>


    <table id="tab" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Room ID</th>
                <th scope="col">Room Type</th>
                <th scope="col">Status</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Rooms in Model)
            {
                <tr>
                    <th scope="row">@Rooms.RoomID</th>
                    <td>@Rooms.RoomType</td>

                    @if (Rooms.Status == 1)
                    {
                        <td style="color:green"> Availabe</td>
                    }
                    @if (Rooms.Status == 2)
                    {
                        <td style="color:greenyellow"> Booking</td>
                    }
                    @if (Rooms.Status == 3)
                    {
                        <td style="color:red"> Using</td>
                    }
                    <td>@Rooms.R_Price VNĐ</td>
                    <td>
                        <button>Edit</button>
                        <a href="#" class="btn btn-danger btnDel" data="@Rooms.RoomID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button>Add New</button>
    <script>
        var d = new Date();
        var h = d.getHours();
        var m = d.getMinutes();
        var date = d.toDateString();
        var res = date + " " + h + ":" + m;
        document.getElementById("date_time").innerHTML = res;
    </script>
    @section scripts{
        <script>
            $(document).ready(function () {
                $('.btnDel').click(function (e) {
                    //bỏ tác dụng bấm mặc định
                    e.preventDefault();
                    var atag = $(this);
                    var idBooking = $(this).attr('data');//lấy giá trị thuộc tính data(mã máy)
                    if (!confirm("Bạn có chắc chắn xóa" + idBooking))
                        return;
                    $.ajax(
                        {
                            url: '/Room/Delete/' + idBooking + '/',
                            method: "post",
                            success: function (data) {
                                if (data.isvalid) {
                                    atag.closest('tr').remove();//Lấy thẻ tr gần với thẻ a nhất và xóa
                                    return;
                                }
                                alert(data.msg);
                            },
                            failed: function () {

                            }
                        }
                    );
                });
            });
        </script>
    }
</body>



</html>

