body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.header{
     position: 0px;
     background: black;
     padding-top: 6px;
     width: 100%;
     height:40px;
}
label{
    float: left;
}
.left_area{
    padding: 0;
    margin-right: 40px;
}
.left_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    padding-left: 40px;
    padding-top: 1px;
    float: left;
}
.right_area{
    padding: 0;
    margin-right: 40px;
}
.right_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    padding-left: 20px;
    padding-top: 1px;
    float: right;
}
.filter_btn button{
    float: right;

}
.sidebar{
    background: #BE3969;
    margin-top: 0px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}
.sidebar .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h4{
    color: white;
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.sidebar h5{
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.sidebar a{
    color: white;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 400;
    transition: 0.5s;
    transition-property: background;
}
.sidebar a:hover{
    background: black;
    text-decoration: none;
    color: #fff;
}
.sidebar i{
    padding-right: 10px;
}
label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 10px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
label #sidebar_btn:hover{
    color: #BE3969;
}
#check:checked ~ .sidebar{
    left: -250px;
}
#check:checked ~.sidebar a{
    display: none;
}
#tab,h1{
    width: 81%;
    margin-left: 250px;
    transition: 0.5s;
    transition-property: margin-left width;
}

#tab2 {
    width: 100%;
}

p {
    font-weight: bold;
}

#form_post {
    margin-left: 250px;
    transition: 0.5s;
    transition-property: margin-left width;
    width: 80%;
}


#check:checked ~ #form_post {
    margin-left: 0px;
    width: 100%;
}

#check:checked ~ #tab{
    margin-left: 0px;
    width: 100%;
}
#check:checked ~ h1{
    margin-left: 0px;
}

#check{
    display: none;
}
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 10px;
    height: 40px;
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.add-btn {
    position: relative !important;
    display: inline-block !important;
    margin: 40px 0 !important;
    color: #2E7D32 !important;
    font-size: 24px !important;
    text-decoration: none !important;
    transition:  0.5s !important;
    letter-spacing: 1px !important;
    overflow: hidden !important;
    padding: 15px 30px !important;
}

.add-btn:hover {
    background-color: #2E7D32 !important;
    color: white !important;
    box-shadow: 0 0 5px #2E7D32,
                0 0 25px #2E7D32,
                0 0 50px #2E7D32,
                0 0 200px #2E7D32;
}
