
@{
    ViewBag.Title = "Add_new_booking";

}


    <h1>Add new booking</h1>
    <form id="form_post" action="#" method="post">
        <table class="table" id="tab2">
            <tbody>

                <tr>
                    <td><p> Customer Name</p></td>
                    <td><input type="text" id="cus_name"></td>

                    <td style="font-weight: bold;"> <label for="Room">Choose Room </label></td>
                    <td>
                        <select name="Room" id="Room" style="width: 180px; padding-left: 0px; padding-right: 30px;">
                            <option value="#">S001</option>
                            <option value="#">S002</option>
                            <option value="#">S003</option>
                            <option value="#">V001</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><p> Customer Phone</p></td>
                    <td><input type="text" id="cus_phone"></td>

                    <td><p>Date time booking</p> </td>
                    <td>
                        <input id="datetime" class="datetime">
                    </td>
                </tr>
                <tr>
                    <td><p>Customers Number</p></td>
                    <td><input type="text" id="cus_number"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td><input type="submit" value="Save" class="btn_Save" style="width:188px"></td>
                </tr>
            </tbody>
        </table>
    </form>
        

    @section scripts {
        <script>
            var d = new Date();
            var h = d.getHours();
            var m = d.getMinutes();
            var date = d.toDateString();
            var res = date + " " + h + ":" + m;
            document.getElementById("date_time").innerHTML = res;


            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            var hh = today.getHours();
            var mn = today.getMinutes();
            today = yyyy + '-' + mm + '-' + dd + ' ' + hh + ':' + mn;

            document.getElementById("datetime").value = today;

            $('.datetime').datetimepicker({
                step: 30,
                value: today
            });
        </script>
    }

